{% extends "base.html" %}

{% block hd %}

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/notes_style.css')}}">

{% endblock %}

{% block title %}
    Notes
{% endblock %}

{% block content %}

    <h2 style="text-align: center;">What's on your mind today?</h2>
    
<!-- ORIGINAL LAYOUT
    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-4">

                <div class="notepad">
                   <form class="note" action="/add_note" method="post">

                       <textarea style="font-size: 25px;" placeholder="Note down your thoughts!" class="input" name="content" wrap="hard"></textarea>

                        <div class="bottom">
                        <button class="add" type="submit">Add</button>
                        </div>
                    </form>
                </div>

            </div>

            {% for note in notes_list %}
            <div  class="col-sm-4">
                <div class="notepad" >
                    <div style=" font-size: 25px; " >
                        <p>
                            {{ note.id }}
                            &nbsp;&nbsp;
                            {% if note.done == False %}
                            <i class="fas fa-times" style="color:red; position:absolute; right:25px; top:13px;"></i>
                            {% else %}
                            <i class="fas fa-check" style="color:green; position:absolute; right:25px; top:13px;"></i>
                            {% endif %}
                        </p>
                        <hr style="background-color: #212121; margin-top: 0px; ">
                        <textarea style="font-size: 25px;" name="content" wrap="hard" cols="23" rows="7">{{ note.content }}</textarea>
                    </div>
                    <div class="options">

                        <div class="bottom">

                            <a href="/update/{{ note.id }}" ><button class="update">
                                {% if note.done == False %}
                               Mark Done!
                               {% else %}
                                Not Done..
                                {% endif %}
                            </button></a>
                            <a href="/delete_note/{{ note.id }}"><button class="delete">
                                Delete
                            </button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div  class="col-sm-4"></div>
        </div>

    </div>
-->


    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>

            <div class="col-sm-10">
                    <form class="note" action="/add_note" method="post">
                        <textarea style="font-size: 25px;" placeholder="Note down your thoughts!" class="input" name="content" wrap="hard"></textarea>
                         <div class="bottom">
                         <button class="add" type="submit">Add</button>
                         </div>
                     </form>
            </div>

            <div class="col-sm-1"></div>
        </div>

        <br><br>

        <div class="col-sm-1"></div>

        <div class="col-sm-5">
                {% for note in notes_list %}
                    <div class="notepad">
                        <div style=" font-size: 25px; " >
                            <p>
                                {{ note.id }}
                                &nbsp;&nbsp;
                                {% if note.done == False %}
                                <i class="fas fa-times" style="color:red; position:absolute; right:25px; top:13px;"></i>
                                {% else %}
                                <i class="fas fa-check" style="color:green; position:absolute; right:25px; top:13px;"></i>
                                {% endif %}
                            </p>
                            <hr style="background-color: #212121; margin-top: 0px; ">
                            <textarea style="font-size: 25px;" name="content" wrap="hard" cols="30" rows="9">{{ note.content }}</textarea>
                        </div>
                        <div class="options">

                            <div class="bottom">

                                <a href="/update/{{ note.id }}" ><button class="update">
                                    {% if note.done == False %}
                                   Mark Done!
                                   {% else %}
                                    Not Done..
                                    {% endif %}
                                </button></a>
                                <a href="/delete_note/{{ note.id }}"><button class="delete">
                                    Delete
                                </button></a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="col-sm-5"></div>
            <div class="col-sm-1"></div>

        </div>













    <div class="notes_footer">
        <footer>
    		<hr class="hrline">
    		<p>Creators</p>
    		<div class="Us">
    			<div class="tanvi" style="margin-bottom: 20px;">
    				<h4>Tanvi</h4>
                    <a href="https://www.linkedin.com/in/tanvi-bugdani/" target="_blank" class="footer_links"><i class="fab fa-linkedin fa-2x"></i></a>
                    <a href="https://github.com/tanvi355" target="_blank" class="footer_links" style="color:black"><i class="fab fa-github fa-2x" ></i></a>
                </div>
    			<div class="sakina" style="margin-bottom: 20px;">
    				<h4>Sakina</h4>
                    <a href="https://www.linkedin.com/in/sakina-nomi/" target="_blank" class="footer_links"><i class="fab fa-linkedin fa-2x" ></i></a>
                    <a href="https://github.com/sakinanomi" target="_blank" class="footer_links" style="color:black"><i class="fab fa-github fa-2x" ></i></a>
                </div>
    		</div>
    	</footer>
    </div>

{% endblock %}
